<h1>Show <%= customer_invoice.name %></h1>

<p>
  <%= link_to("Back", "/customer_invoices", class: "btn btn-light btn-sm") -%>
  <%= link_to("Edit", "/customer_invoices/#{customer_invoice.id}/edit", class: "btn btn-success btn-sm") -%>
  <%= link_to("Delete", "/customer_invoices/#{customer_invoice.id}?_csrf=#{csrf_token}", "data-method": "delete", "data-confirm": "Are you sure?", class: "btn btn-danger btn-sm") -%>
</p>
